<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54736af5-c77b-41e8-ad57-ae3af1c36728" Alias="Block" Level="1">
  <Info>
    <Name>Block</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "block",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": false,
  "ShowIcons": false,
  "HideLabel": true
}]]></Config>
</DataType>