<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f68f1f71-dbc6-4586-9d1e-cbb4ce5733ea" Alias="BlockList Editor" Level="1">
  <Info>
    <Name>BlockList Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a7b2ce5d-3f62-4937-801e-f55e83cc3e72",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Block",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>