<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6fe21d6-ead9-4614-83d1-1005796e2ff4" Alias="Rich Text Editor - Basic" Level="1">
  <Info>
    <Name>Rich Text Editor - Basic</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link",
      "charmap"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "distraction-free",
    "dimensions": {
      "width": 300
    }
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>